*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse specific files
.classpath

# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 

# ignore all .settings directories
.settings/
